



.subfilter {
  padding-left: 12em;
  margin-top: 0;
  padding-top: 0;
}


.card-img {
  display: block;
  width: 100%;
  height: auto;
}

.filteroption {
  color: black;
  padding: 10px 20px 10px 0px;
  font-size: 12px;
}
.filteroption:hover {
  color:black;
  text-decoration-color: teal;
  text-decoration-line: underline;
}


body {
    position: relative;
    font-family: "Open Sans", "Roboto", "sans serif", !important;
  }

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('img/waves2.jpg');
    background-size: cover;
    color: #ffffff;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
  }
  
.jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    padding: 20px;
    color: black;
    background-color: white;
  }

.gif {
    padding: 3% 15%;
    background-color: black;
  }

.gifmobile {
    padding: 3% 30%;
    background-color: black;
  }

.nav-link {
    color: black;
}

.active {
      color: teal;
  }
  
.about {
      padding: 50px;
  }

.jobdate {
    font-weight: 200;
    font-style: italic;
}

.jobdescription {
    font-weight: 300;
}
.jobtitle {
      font-weight: 800;
  }
.resumebgholder {
    padding: 50px;
    background-color: #F4F4F4;

  }
 

.projects {
  padding: 50px;
}

.contactbgholder {
  background-color: #F4F4F4;
  padding: 50px;
}
  
.col-md-6 {
  margin: 0 0 30px;
}

footer { 
  font-size: 12px;
  padding-top: 300px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
  
footer ul {
  list-style: none;
}
  
footer li img {
  width: 32px;
  height: 32px;
}


.hovereffect {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
}
    
.hovereffect .overlay {
    width:100%;
    height: 100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

    
  
  .overlay h2 {
    display: inline-block;
    width: 100%;
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    font-size:17px; 
    padding: 10px 0px;
    margin-top: 20%;
    background:rgba(0,0,0,0.6);
    /*
    -webkit-transform:translatey(-0px);
    -ms-transform:translatey(-0px);
    transform:translatey(-0px);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
  */

  }

  .projects-link {
        cursor: pointer;
  }

    
  .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
  }
   /* 
  .hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
  }
  
    
  .hovereffect:hover a.info {
   /* -webkit-transition-delay:.2s;
    transition-delay:.2s;*/
  }
/*
.projcontent {
        padding-top: 100px;
}
*/

.footgallery {
    height: 150px;
    margin-top: 0px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.navigation-proj {
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
       
}

.jobdescription .link {
    color: #212529;
} 
.home-grid-icon span {
    background: #000;
    float: left;
    height: 4px;
    width: 4px;
    margin-bottom: 1px;
    margin-left: 1px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  .home-grid-icon .six-hollow {
    width: 24px;
    display: table-cell;
  }
  .home-grid-icon {
    width: 18px;
    display: inline-block;
  }




    /* ------------Portfolio Animations-----------*/

    .animatable {
  
      /* initially hide animatable objects */
      visibility: hidden;
      
      /* initially pause animatable objects their animations */
      -webkit-animation-play-state: paused;   
      -moz-animation-play-state: paused;     
      -ms-animation-play-state: paused;
      -o-animation-play-state: paused;   
      animation-play-state: paused; 
    }
    
    /* show objects being animated */
    .animated {
      visibility: visible;
      
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -ms-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-fill-mode: both;
      
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      -ms-animation-duration: 1s;
      -o-animation-duration: 1s;
      animation-duration: 1s;
    
      -webkit-animation-play-state: running;
      -moz-animation-play-state: running;
      -ms-animation-play-state: running;
      -o-animation-play-state: running;
      animation-play-state: running;
    }

    
    @-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}